/* TOGGLE DE HISTORIAL Y TEMA */
.history-toggle,
.theme-toggle {
    display: flex;
    justify-content: flex-start;
    font-size: 22px;
    cursor: pointer;
    margin-bottom: 10px;
    overflow: auto;
}

body.dark-mode .history-toggle,
body.dark-mode .theme-toggle {
    color: var(--btn-right-dark);
}

body.light-mode .history-toggle,
body.light-mode .theme-toggle {
    color: var(--btn-right-light);
}